 <!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Page Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style id="jss-server-side"><%- styles %></style>
</head>
<body class="container">
    <section id="content"><%- content %></section>
    <script>var__REDUX_STATE__ = <%- state %></script>
    <script src="/static/client.js"></script>
</body>
</html>